/* Reset CSS */
html, body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}

/* Background */
html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5)), url("../img/anhnen1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /*font-family: SourceSansPro-Bold, serif;*/
}

/* Box Model */
* {
    box-sizing: border-box;
}

/* Container Styles */
#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    /*cursor: pointer;*/
}

.content {
    background-color: #ffffff;
    height: 600px;
    width: 390px;
    text-align: center;
    padding: 34px 55px 30px 55px;
    border-radius: 10px;
}

/* Title Styles */
.title .text {
    margin-top: 0;
    font-family: Arial, serif;
    color: #4b2354;
    margin-bottom: 20px;
}

/* Input Styles */
#login .input {
    height: 62px;
    width: 100%;
    background-color: #fff;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0 rgba(114, 111, 111, 0.1);
    color: #4b2354;
}

#login .input .pix-text {
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 20px;
    padding: 0 20px 0 23px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#login .input .pix-text:hover {
    cursor: pointer;
}

#login .input .pix-text::placeholder {
    color: #4b2354;
    font-weight: bold;
}

/* Sign In Button Styles */
#signin {
    width: 100%;
}

#signin .login.text {
    min-width: 160px;
    background-color: #bd59d4;
    height: 50px;
    border-radius: 25px;

    font-size: 14px;
    color: #fff;
    border: none;
    box-shadow: 0 5px 30px 0 #BD59D7;
}

#signin .login.text:hover {
    cursor: pointer;
}

/* Title 2 Styles */
.title .title2 {
    padding: 57px 0 20px 0;
    margin: 0;
    font-size: 16px;
    color: #999;
    font-family: sans-serif;
}

/* Logo Styles */
.logo {
    height: 40px;
    width: 40px;
    border-radius: 180px;
    box-shadow: 0 5px 30px 0 #5c636a;
}

/* Icon Styles */
.icon {
    height: 30px;
    width: 280px;
    justify-content: center;
    display: inline-block;
    margin-bottom: 112px;
}

img.logo {
    margin: 5px;
}

/* Signup Link Styles */
.signup .text {
    font-size: 16px;
    color: #5c636a;
    text-decoration: none;


}
